* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li, ol {
    list-style: none;
}

header {
    background-color: #1E3A5F;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header nav div {
    display: flex;
    align-items: center;
}

header nav a {
    color: #f0f0f0;
    margin-left: 20px;
}