* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li, ol {
    list-style: none;
}

:root {
    --main-color: #f0f0f0;
    --secundary-color: #1E3A5F;
    --tertiary-color: #C9A227;
}

body {
    height: 100vh;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--secundary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 100px;
    border-bottom: 2.5px solid var(--tertiary-color);
}

header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

header .title {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--main-color);
}

header nav a {
    font-size: 16.5px;
    color: var(--main-color);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

header nav a:hover {
    background-color: var(--main-color);
    color: var(--secundary-color);
}

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: var(--secundary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--main-color);
    border-top: 10px solid #162B44;
    height: 155px;
}

footer img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

footer .info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 143px;
    border-top: 3px solid var(--tertiary-color);
}

footer .info h2 {
    font-size: 18px;
}

footer .info p {
    font-size: 16px;
    gap: 7px;
    display: flex;
    align-items: center;
}

footer .info .data {
    display: flex;
    gap: 15px;
    padding: 10px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

footer #contatos,
footer #local {
    text-align: left;
}

footer .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-top: 2px solid #31317a;
}

footer .social .media {
    display: flex;
    gap: 15px;
    padding: 10px 0px 0px 0px;
}