* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li, ol {
    list-style: none;
}

:root {
    --main-color: #f0f0f0;
}

body {
    height: 100vh;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1E3A5F;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
}

header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

header nav a {
    font-size: 1.2rem;
    color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

header nav a:hover {
    background-color: #f0f0f0;
    color: #1E3A5F;
}