body {
    height: 100vh;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1E3A5F;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav a {
    color: #f0f0f0;
    margin-left: 20px;
}

main {
    background-color: blue;
    flex-grow: 1;
}

footer {
    background-color: lightblue;
}