:root {
    --main-color: #f0f0f0;
}

body {
    height: 100vh;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
}

main {
    background-color: blue;
    flex-grow: 1;
}

footer {
    background-color: #1E3A5F;
}